[submodule "webrepl"]
	path = webrepl
	url = https://github.com/micropython/webrepl
[submodule "mpy-utils"]
	path = mpy-utils
	url = https://github.com/nickzoic/mpy-utils
[submodule "mpy-webpad"]
	path = mpy-webpad
	url = https://github.com/nickzoic/mpy-webpad
[submodule "esptool"]
	path = esptool
	url = https://github.com/espressif/esptool
